body{
    background-color: #010409;
}
button.green{
    background-color: #04AA6D;
    border-radius: 10px;
    border: 0px;
    font-size: x-large;
    color: #F0F6FC;
    height: 60px;
    width: 150px;
}
div{
    border-radius: 5px;
    height: 100px;
    width: 100%;
    color: #F0F6FC;
    background-color: #0D1117;
    overflow: scroll;
}
button {
    transition-duration: 0.4s;
    cursor: pointer;
}
  
button:hover {
    background-color: #048f5c;
    color: white;
}