body{
    background-color: #010409;
}

div{
    border-radius: 5px;
    height: 100px;
    width: 100%;
    color: #F0F6FC;
    background-color: #0D1117;
    overflow: scroll;
    margin: 12px 8px;
}

button{
    transition-duration: 0.4s;
    cursor: pointer;
}


button.sub{
    background-color: #04AA6D;
    border-radius: 10px;
    border: 0px;
    font-size: x-large;
    color: #F0F6FC;
    height: 50px;
    width: 230px;
}
button.run{
    background-color: #4493F8;
    border-radius: 20px;
    border: 0px;
    font-size: x-large;
    color: #F0F6FC;
    height: 35px;
    width: 80px;
    margin: 0px 8px;
}

button:hover.sub{
    background-color: #048f5c;
    color: white;
}
button:hover.run{
    background-color: #3573c4;
    color: white;
}